postgres://default:ZSmb7DOYQd2f@ep-royal-shadow-942077-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb=
POSTGRES_PRISMA_URL=postgres://default:ZSmb7DOYQd2f@ep-royal-shadow-942077-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb
